reimbursementadapter/getadmincareevent-mule-app/src/main/app/processreimbursement-service.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" version="EE-3.4.1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd">
    <spring:beans>
        <spring:bean id="fileReaderBean" class="se.sll.reimbursementadapter.mule.FileReader"/>
    </spring:beans>
    <flow name="processreimbursement-serviceFlow1" doc:name="processreimbursement-serviceFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8085" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Request to String"/>
        <set-variable variableName="date" value="#[xpath('//urn1:date') == null ? null : xpath('//urn1:date').text]" doc:name="Fetch Date via XPATH"/>
        <cxf:jaxws-service serviceClass="riv.followup.processdevelopment.getadministrativecareevent._1.rivtabp21.GetAdministrativeCareEventResponderInterface" doc:name="SOAP"/>
        <component class="se.sll.reimbursementadapter.admincareevent.ws.GetAdministrativeCareEventEmptyProducer" doc:name="SOAP Impl"/>
		<set-variable variableName="originalPayload" value="#[payload]" doc:name="save original payload" />
		<enricher target="#[flowVars['fileList']]" doc:name="Message Enricher">
			<invoke object-ref="fileReaderBean" method="getFileList" methodArguments="#[flowVars['date']]" doc:name="Get File List" />
		</enricher>
        <foreach collection="#[flowVars['fileList']]" doc:name="For Each File in Files">
        	<logger level="INFO" message="File #[payload]" doc:name="Logger"/>
            <component class="se.sll.reimbursementadapter.mule.FileReader" doc:name="Read file to string" />
            <custom-transformer class="se.sll.reimbursementadapter.admincareevent.transformer.ERSMOIndataUnMarshaller" doc:name="Unmarshal ERSMOIndata"/>
            <custom-transformer class="se.sll.reimbursementadapter.admincareevent.transformer.ERSMOIndataToReimbursementEventTransformer" doc:name="Transform ReimbursementEvent"/>
        	<expression-component doc:name="Add to responselist"><![CDATA[flowVars['originalPayload'].getCareEvent().addAll(payload)]]></expression-component>
        </foreach>
    </flow>
</mule>
